In [25]:
import pandas as pd
import json
import datetime

In [59]:
def read_mgraph(path):
    file = open(path, 'r', encoding='utf-8')
    data = json.loads(file.read())
    
    #Extract headers of dataset from json keys
    headers = set()
    for record in data['records']:
        headers = headers.union(list(record.keys()))
    headers = list(headers)
    
    #Create a dictionary with empty lists as values
    dic = {}
    for header in headers:
        dic[header] = []
    
    #Extract every value from records using the headers values
    for record in data['records']:
        for header in headers:
            dic[header] = dic[header] + [record[header]]
            
    #Create and return the data frame
    df = pd.DataFrame.from_dict(dic)
    return df

In [61]:
#Example
df = read_mgraph('./DEV/output.json')
df

,neighborhood,role,lastLogin,points,lastNames,city,finishRecord,names,politicianIntLevel,timeStepOne,isDeleted,timeStepTwo,location,country,gender,totalRefers
0,None,basic_user,1.684798e+15,2.0,Noa,None,False,Test,None,1.684798e+15,False,NaN,None,None,None,0
1,None,None,1.684457e+15,NaN,None,None,None,None,None,NaN,None,NaN,None,None,None,0
2,Bellavista,basic_user,1.684457e+15,862.0,Vargas,Bogotá D.C.,True,Marcos,Algo interesado/a,1.684362e+15,False,1.684362e+15,Kennedy,Colombia,Hombre,0
3,None,basic_user,1.683676e+15,2.0,Ibanez,None,False,Camilo,None,1.683676e+15,False,NaN,None,None,None,0
4,None,basic_user,1.683559e+15,0.0,Camilo,None,False,Otro,None,1.683559e+15,False,NaN,None,None,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Bosa Nova El Porvenir,basic_user,NaN,74.0,Arredondo,Bogotá D.C.,False,Antonio,None,NaN,False,NaN,Bosa,Colombia,Hombre,1
118,Chicó Alto,basic_user,NaN,2.0,Salamanca,Bogotá D.C.,False,Salome,None,NaN,False,NaN,Usaquén,Colombia,Mujer,0
119,None,basic_user,1.684898e+15,2000.0,Vargas,None,False,Oscar,None,NaN,False,NaN,None,None,None,27
120,None,basic_user,NaN,2.0,Fernandez,None,False,Flavio,None,NaN,False,NaN,None,None,None,0
121,Chicó Alto,basic_user,NaN,72.0,Rodriguez,Bogotá D.C.,False,Lautaro Nicolas,None,NaN,False,NaN,Bosa,Colombia,Hombre,1